/*--- Reset CSS ---*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: hsl(209, 23%, 22%);
    --very-dark-blue: hsl(207, 26%, 17%);
    --very-dark-blue-text: hsl(200, 15%, 8%);
    --dark-gray: hsl(0, 0%, 52%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--very-light-gray);
    height: 100vh;
    width: 100%;
}

/*--- Navbar ---*/

header {
    background-color: var(--dark-blue);

}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.875rem 1rem;
}

.nav-container h1 {
    color: var(--white);
    font-size: 0.875rem;
    font-weight: 800;
}

.nav-container button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
    border: none;
    color: var(--white);
    font-size: 0.75rem;
    font-weight: 500;
    cursor: pointer;
}

.nav-container button i {
    font-size: 1rem;
}

/*--- Main ---*/

main {
    background-color: var(--very-dark-blue);
    height: 100%;
    width: 100%;
}

.search-filter-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
    padding: 1.5rem 1rem;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 1.75rem;
    width: 100%;
    background-color: var(--dark-blue);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
}

.search-container i {
    color: var(--white);
    font-size: 1rem;
}

.search-container input {
    background-color: var(--dark-blue);
    border: none;
    color: var(--white);
    font-size: 0.75rem;
    font-weight: 600;
    width: 100%;
}

.search-container input::placeholder {
    color: var(--white);
    font-size: 0.75rem;
    font-weight: 500;
}

.filter-container {
    width: 200px;
    background-color: var(--dark-blue);
    padding: 0.875rem 1.5rem;
    border-radius: 0.5rem;
    position: relative;
    cursor: pointer;
}

.costum-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.costum-select .selected {
    color: var(--white);
    font-size: 0.75rem;
    font-weight: 600;
}

.costum-select i {
    color: var(--white);
    font-size: 1rem;
}

.select-items {
   /* display: flex;
    flex-direction: column;*/
    gap: 0.5rem;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--dark-blue);
    width: 100%;
    border-radius: 0.5rem;
    padding: 1.5rem;
    z-index: 1;
    color: var(--white);
    font-size: 0.75rem;
    font-weight: 500;
    display: none;
}
/*--- Countries Container ---*/

#countries-container {
    background-color: var(--very-dark-blue);
    padding: 4rem 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#countries-container::-webkit-scrollbar {
    display: none;
}

.country-card {
    background-color: var(--dark-blue);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    scroll-snap-align: start;
}

.country-card img {
    height: 160px;
    width: 100%;
    border-radius: 0.5rem;
}

.country-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding:1.5rem;
    margin-bottom: 2rem;
}

.country-info h2 {
    color: var(--white);
    font-size: 1.125rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
}

.country-info p {
    color: var(--white);
    font-size: 0.75rem;
}

.country-info p strong {
    font-weight: 600;
}




/*--- Media Queries ---*/

@media screen and (min-width: 1024px) {

/*--- Navbar ---*/
    .nav-container {
        padding: 1.5rem 5rem;
    }

    .nav-container h1 {
        font-size: 1.5rem;
    }

    .nav-container button {
        font-size: 1rem;
    }

    .nav-container button i {
        font-size: 1.25rem;
    }

    /*--- Main ---*/

    .search-filter-container {
        flex-direction: row;
        justify-content: space-between;
        padding: 3rem 5rem;
    }

    .search-container {
        width: 480px;
        padding: 1.125rem 2rem;
    }

    .search-container i {
        font-size: 1.25rem;
    }

    .search-container input {
        font-size: 0.875rem;
    }

    .filter-container {
        padding: 1.125rem 1.5rem;
    }

    .costum-select .selected {
        font-size: 0.875rem;
    }

    .costum-select i {
        font-size: 1.25rem;
    }

    .select-items {
        font-size: 0.875rem;
    }

    /*--- Countries Container ---*/

    #countries-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 3rem 5rem;
        gap: 4.75rem;
    }
}